.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.containeCompra {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.buttonComprar {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  height: 100px;
  width: 130px;
  background-color: rgb(245, 220, 244);
  border: none;
}
.totalCart {
  font-weight: 600;
  font-size: 20pt;
}

.ContainerFinalCart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
