.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
}
.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.buttonDecrease {
  background-color: rgb(214, 175, 206);
  border: none;
  width: 30px;
  height: 30px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  border-radius: 5px;
}
.buttonIncrease {
  background-color: rgb(214, 175, 206);
  border: none;
  width: 30px;
  height: 30px;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 8px;
  border-radius: 5px;
}
.quantity {
  font-size: 20px;
}
.buttonAdd {
  background-color: rgb(223, 199, 228);
  font-size: 15px;
  border-radius: 5px;
  height: 60px;
  width: 135px;
  border: none;
}
